

@import "tailwindcss";



/* 

input:focus {


    outline: none;            Removes default focus outline 

    caret-color: black;        Changes caret (text cursor) color 


}

*/


/* 
    outline: none;            Removes default focus outline 
    caret-color: black;        Changes caret (text cursor) color 

*/

